/* color palet #f6f6f6 #ffe2e2 #ffc7c7 #AAAAAA */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Athiti", sans-serif;
}
a {
  text-decoration: none;
}
body {
  overflow-y: auto;
}
h3 {
  font-weight: 400;
  font-size: 1.25em;
  line-height: 25px;
  color: #aaaaaa;
  letter-spacing: 0.5px;
}
p {
  font-family: "Bitter", serif;
  margin: 5px;
  font-size: 0.9em;
  color: #aaaaaa;
}
i {
  font-size: 1.5em;
}
.temp {
  display: flex;
  margin: auto;
  background-color: white;
  width: 100%;
  flex-direction: column;
}

.temp .top_banner {
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 2.5em;
  font-family: "Great Vibes", cursive;
  color: #080808;
}

.local_container {
  display: flex;
  width: 100%;
  /* height: 100vh; */
  flex-direction: column;
  background: #f6f6f6;
}

.logo {
  /* background: #aaaaaa; */
  display: flex;
  justify-items: center;
  align-items: center;
}
.logo .logo_img {
  width: 60%;
  margin: auto;
}
.local_nav {
  background-color: #ffe2e2;
}

.menu_list {
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffe2e2;
  align-items: center;
  padding: 50px;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.menu_list.active {
  transform: translateY(0);
}
.item {
  margin: auto;
  list-style: none;
  font-size: 2em;
}

.item a {
  color: #aaaaaa;
}
.hamburger_btn {
  position: fixed;
  margin: auto;
  z-index: 100;
  top: 60px;
  right: 30px;
  background: #ffe2e2;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  opacity: 0.8;
  padding-top: 6px;
}

.hamburger_btn div {
  width: 25px;
  height: 2px;
  background: #aaa;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
}

/* burger button animation */

.hamburger_btn.open .middle_line {
  transform: translateX(-25px);
  background-color: transparent;
}

.hamburger_btn.open .top_line {
  transform: rotate(45deg) translate(10px);
}

.hamburger_btn.open .bottom_line {
  transform: rotate(-45deg) translate(10px);
}
.slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75vh;
  /* margin-top: 10px; */
  /* padding-left: 25px;
  padding-top: 95px; */
  animation-name: slideshow;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  transition: ease-in-out;
  opacity: 0;
  /* position: absolute;
   */
}

.showcase {
  position: absolute;
  height: 70vh;
  margin-top: 10px;
  padding-left: 25px;
  padding-top: 150px;
}
.showcase_content {
  position: absolute;
}
.showcase h3 {
  color: black;
  font-family: "Great Vibes", cursive;
  font-size: 1.5em;
}

.showcase h1 {
  font-family: "Bitter", serif;
  font-weight: 500;
}
.top_banner {
  margin-left: 5px;
  margin-top: 85px;
}
.bottom_banner {
  margin-top: 5 px;
  margin-left: 5px;
  margin-bottom: 100px;
}

.btn {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  background: #ffc7c7;
  width: 130px;
  height: 35px;
  text-align: center;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.showcase .btn {
  background: #2c2c2c;
  color: #f6f6f6;
  opacity: 0.8;
  margin-top: 170px;
}
.showcase .btn:hover {
  background: #ffe2e2;
  color: #2c2c2c;
}
.showcase .btn p:hover {
  color: #2c2c2c;
}
.showcase .btn p {
  color: #f6f6f6;
}
.btn p {
  margin: auto;
  color: #080808;
  letter-spacing: 1px;
}

.head {
  margin: auto;
  margin-top: 25px;
}

.content {
  margin: 5px auto;
  /* margin-bottom: 7.5px; */
}
.main_page {
  color: #ffe2e2;
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
.thumbnails {
  display: flex;
  width: 90%;
  margin: 10px auto;
}

.thumbnails div {
  width: 100px;
  height: 100px;
  /* background: black; */
  margin: auto;
}

.thumbnails .left {
  background: url(./img/BD_img21.jpg) no-repeat center center/cover;
}
.thumbnails .center {
  background: url(./img/BD_img22.jpg) no-repeat center center/cover;
}
.thumbnails .right {
  background: url(./img/BD_img18.jpg) no-repeat center center/cover;
}

.reviews {
  background: url(./img/BD_img9.jpg) no-repeat center center/cover;
  width: 100%;
  height: 45vh;
  /* position: absolute; */
  /* top: 600px; */
}
.color_bkg {
  background: #ffe2e2e3;
  height: 45vh;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-items: center;
}

.review_card {
  background: #f6f6f6e3;
  text-align: center;
  width: 60%;
  margin: auto;
  color: #ffc7c7;
}
.review_card p {
  color: #aaaaaa;
  width: 85%;
  margin: 10px auto;
}
.review_card h2 {
  font-size: 1.25em;
}

.line {
  margin: auto;
  background: #aaaaaa;
  height: 5px;
  width: 90%;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.order .btn {
  background-color: #f6f6f6;
  border: solid 1.5px;
  margin-bottom: 25px;
  z-index: 1;
}

.line_2 {
  height: 1.5px;
  width: 90%;
  background-color: #080808;
  position: absolute;
  margin-top: 48px;
}

.followme {
  background: #ffc7c7;
  height: 100px;
  display: flex;
  align-items: center;
}

.followme p {
  color: #2c2c2c;
  margin: auto;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "img-1 img-1 img-2 img-2"
    "img-1 img-1 img-3 img-3"
    "img-4 img-4 img-4 img-4"
    "img-5 img-5 img-6 img-6"
    "img-7 img-7 img-6 img-6"
    "img-8 img-8 img-8 img-8";
  grid-gap: 1.5rem;
}
.gallery a {
  width: 100%;
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffe2e2;
}
.gallery a i {
  /* color: rgba(255, 255, 255, 0.6); */
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
}

.img-1 {
  grid-area: img-1;
  background-image: url(/img/BD_img11.jpg);
  min-height: 41.5rem;
}
.img-2 {
  grid-area: img-2;
  background-image: url(/img/BD_img12.jpg);
}
.img-3 {
  grid-area: img-3;
  background-image: url(/img/BD_img13.jpg);
}
.img-4 {
  grid-area: img-4;
  background-image: url(/img/BD_img14.jpg);
}
.img-5 {
  grid-area: img-5;
  background-image: url(/img/BD_img15.jpg);
}
.img-6 {
  grid-area: img-6;
  background-image: url(/img/BD_img16.jpg);
  min-height: 41.5rem;
}
.img-7 {
  grid-area: img-7;
  background-image: url(/img/BD_img17.jpg);
}
.img-8 {
  grid-area: img-8;
  background-image: url(/img/BD_img18.jpg);
}

.show {
  display: flex;
}

.show .btn {
  margin: 25px auto;
  background-color: #f6f6f6;
  border: solid 1.5px;
  margin-bottom: 25px;
  z-index: 1;
}

.footer {
  background: #ffe2e2;
  height: 75px;
}

.footer_wrap {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 15px auto;
}

/*  SLIDESHOW ANIMATION */

@keyframes slideshow {
  0% {
    background-image: url(./img/MYXJ_20210127130048840_save.jpg);
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }

  25% {
    background-image: url(./img/MYXJ_20210127130048840_save.jpg);
    opacity: 0;
  }
  25.01% {
    background-image: url(./img/Bgrnd2.jpg);
  }
  37.5% {
    opacity: 1;
  }
  50% {
    background-image: url(./img/Bgrnd2.jpg);
    opacity: 0;
  }
  50.01% {
    background-image: url(./img/bgrd3.jpg);
  }
  62.5% {
    opacity: 1;
  }
  75% {
    background-image: url(./img/bgrd3.jpg);
    opacity: 0;
  }
  75.01% {
    background-image: url(./img/bkgr4.jpg);
  }

  87.5% {
    opacity: 1;
  }
  100% {
    background-image: url(./img/bkgr4.jpg);
    opacity: 0;
  }
}

@media (min-width: 768px) {
  h3 {
    font-size: 2.245em;
  }
  p {
    font-size: 1.25em;
  }
  .hamburger_btn {
    display: none;
  }
  .menu_list {
    position: relative;
    flex-direction: row;
    transform: none;
    height: 13px;
    padding-top: 10px;
  }
  .item {
    font-size: 1.5em;
  }
  .showcase {
    /* height: 80vh; */
    padding-top: 250px;
  }
  .slide {
    height: 80vh;
  }

  .showcase .btn {
    margin-bottom: 100px;
  }

  .head {
    width: 75%;
  }
  .content {
    width: 75%;
    margin-top: 7.5px;
  }

  .logo .logo_img {
    width: 250px;
  }

  .thumbnails div {
    width: 30%;
    height: 350px;
  }

  .review_card {
    width: 350px;
    height: 450px;
  }

  .reviews {
    height: 700px;
  }
  .color_bkg {
    height: 701px;
  }
  .gallery > * {
    flex: 1 1 33%;
  }
  .showcase h3 {
    font-size: 4em;
    margin-bottom: 15px;
    font-weight: 300;
  }
  .showcase h1 {
    font-size: 4.5em;
    font-weight: 400;
  }

  .showcase .btn p {
    font-weight: 600;
    letter-spacing: 3px;
  }
  .showcase .btn {
    margin-top: 300px;
    margin-left: 100px;
  }
  .top_banner {
    margin: 100px;
  }
  .bottom_banner {
    margin-left: 100px;
  }
  .btn {
    width: 260px;
    height: 50px;
  }

  .line_2 {
    margin-top: 54px;
  }
}
